rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /habits/{habitId} {
      // Allow create if the new document's userId matches the authenticated user's ID
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
      
      // Allow read, update, delete if the existing document's userId matches the authenticated user's ID
      allow read, update, delete: if request.auth != null && resource.data.userId == request.auth.uid;
    }
    
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
